<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	
	<ul>
		<li>ZRC: {{F.0}}</li>
		<li>Energy: {{F.1}}</li>
		<li>Entropy of Energy: {{F.2}}</li>
		<li>Spectral Centroid: {{F.3}}</li>
		<li>Spectral Spread: {{F.4}}</li>
		<li>Spectral Entropy: {{F.5}}</li>
		<li>Spectral Flux: {{F.6}}</li>
		<li>Spectral Rolloff: {{F.7}}</li>
		<hr>
		<h1>MFCCs</h1>
		<li>{{F.8}}</li>
		<li>{{F.9}}</li>
		<li>{{F.10}}</li>
		<li>{{F.11}}</li>
		<li>{{F.12}}</li>
		<li>{{F.13}}</li>
		<li>{{F.14}}</li>
		<li>{{F.15}}</li>
		<li>{{F.16}}</li>
		<li>{{F.17}}</li>
		<li>{{F.18}}</li>
		<li>{{F.19}}</li>
		<li>{{F.20}}</li>
		<hr>
		<h1>Chroma Vector</h1>
		<li>{{F.21}}</li>
		<li>{{F.22}}</li>
		<li>{{F.23}}</li>
		<li>{{F.24}}</li>
		<li>{{F.25}}</li>
		<li>{{F.26}}</li>
		<li>{{F.27}}</li>
		<li>{{F.28}}</li>
		<li>{{F.29}}</li>
		<li>{{F.30}}</li>
		<li>{{F.31}}</li>
		<li>{{F.32}}</li>
		<hr>
		<li>Chroma Deviation: {{F.33}}</li>

	</ul>
</body>
<script type="text/javascript">
	setTimeout(function(){
   window.location.reload(1);
}, 1000);
</script>
</html>